<% title 'Dashboard' %>

<p class="lead"><%= t('dashboard.choose_company') %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('company.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @selected_company.clients.each do |client| %>
        <tr>
          <td>
            <%= link_to client.name, client %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>