<ul class="nav nav-tabs">
  <li role="presentation">
    <%= link_to t('offer.navigation.add_new'), 'http://google.com' %>
  </li>
  <li role="presentation">
    <%= link_to t('offer.navigation.add_new'), 'http://google.com' %>
  </li>
  <li role="presentation">
    <%= link_to t('offer.navigation.add_new'), 'http://google.com' %>
  </li>
</ul>