%ul.nav.navbar-nav
  %li= link_to t('navigation.application.dashboard'), application_path
  %li= link_to t('navigation.application.product'), products_path
  %li= link_to t('navigation.application.base_offer'), new_offer_path
