%ul.nav.navbar-nav
  - if @selected_company
    %li= link_to t('navigation.application.clients'), company_clients_path(@selected_company)
    %li= link_to t('navigation.application.product'), company_products_path(@selected_company)
    %li= link_to t('navigation.application.categories'), company_categories_path(@selected_company)